$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.5rem;

// colors
$text-color: #292b2c;
$background-color: #d2d0cb;
$background-light: #ecebe6;;
$header-color: #7e7c77;
$green: #007236;
$blue: #66afe9;
$red: #de3733;

// layout
$gutter: 2rem;
