$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.5rem;

// colors
$text-color: #292b2c;
$background-color: #d2d0cb;
$background-light: #ecebe6;;
$header-color: #7e7c77;
$white: #fff;
$black: #000;
$blue: #106ff5;
$red: #F50034;

// layout
$gutter: 2rem;
