// Import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

// Import component styles
@import 'TopBar.component.scss';
@import 'SearchResultsContainer.component';
@import 'SearchField.component';
@import 'Suggestions.component';

// Set layout
.main {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  margin: 20px;
}
