// Import fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* Config */
@import "config/config";

/* Includes */
@import 'includes/buttons';
@import 'includes/flex';
@import 'includes/form-group';
@import 'includes/gutter';
@import 'includes/spacer';
@import 'includes/spinner';

/* Globals */
@import 'globals/resets';
@import 'globals/typography';
@import 'globals/forms';
@import 'globals/globals';

// Import component styles
@import 'components/Hierarchy';
@import 'components/TopBar.component';
@import 'components/SearchResultsContainer.component';
@import 'components/SearchField.component';
@import 'components/Suggestions.component';

// Set layout
.main {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  margin: 20px;
}
