@mixin spacer($width) {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  &:after {
    position: absolute;
    bottom: 0;
    content: " ";
    width   : $width;
    border-bottom: 2px solid rgba(0,0,0,.2);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:last-child:after {
    border-bottom: none;
  }
}