.cart-button-container {
  @include  tablet-and-up {
    display: inline-block;
  }
  height: 20px;
}

.add-or-remove-item {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;

  @include less-than-tablet {
    margin-top: 10px;
    margin-right: 0;
  }

  svg {
    transition: transform .25s ease-out;
    width: 16px;
  }

  &.in-cart {
    svg {
      transform: rotate(135deg);
    }
  }
}
