#comparer {
  @include transition-width();
  display: inline-block;
  width: 0;
  min-height: 600px;
  vertical-align: top;
  float: right;

  .comparer--content {
    opacity: 0;
  }

  &.show-cart {
    width: 39%;

    .comparer--content {
      opacity: 1;
    }
  }
}
