.help--container {
  margin: 3rem;

  .section-head {
    font-size: 28px;
    line-height: 40px;
  }
  .section {
    margin-top: 1rem;
    line-height: 2rem
  }
}
.help-generel--container {
  ul {
    margin: 0;
    padding-left: 2rem;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-right: 1.2rem;
  }
}

.help-pro--container {
  margin-bottom: 4rem;
  .bullet {
    text-align: right;
    display: inline-block;
    padding: 0 1rem 0 0;
    min-width: 4rem;
  }
  .note {
    margin: -0.1rem 0;
    padding: 0 0 0 7rem;
    line-height: 120%;
    font-size: 70%;
  }
}

ul.hierarchy-topics {
  margin: 0;
}
