.help--container {
  margin: 3rem;

  .section-head {
    padding: 1rem 0 1rem 0;
    font-size: 200%;
  }
  .sub-section-head {
    padding: 2rem 0 0.5rem 0;
    font-size: 150%;
  }
  .section {
    margin-top: 1rem;
    line-height: 2rem
  }
}
.help-generel--container {
  ul {
    margin: 0;
    padding-left: 2rem;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-right: 1.2rem;
  }
}

.help-chapter--container {
  margin-bottom: 4rem;
  .bullet {
    text-align: right;
    display: inline-block;
    padding: 0 1rem 0 0;
    min-width: 4rem;
  }
  .note {
    margin: -0.1rem 0;
    padding: 0 0 0 7rem;
    line-height: 120%;
    font-size: 70%;
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
  }
}

ul.hierarchy-topics {
  margin: 0;
}
