.hierarchy {
  padding: 1rem;
  a {
    text-decoration: none;
  }
  .name {
    color: $black;
  }
}

.hierarchy-level {
  margin: 2rem 0;
  padding-left: 2rem;
  .level {
    transition: background 0ms ease-in;
  }
  .selected {
    transition: background 250ms ease-out;
    padding: 2rem;
    margin-left: -2rem;
    background-color: $blue;
    color: white;
    .dk5 {
      background-color: white;
      padding: 0.3rem;
    }
    .name {
      color: white;
    }
  }
  .dk5 {
    color: $blue;
    display: inline-block;
    margin-left: 1rem;
  }
}

.hierarchy-topics {
  padding-left: 0;
  margin-bottom: 3rem;
  li {
    margin-bottom: 1rem;
    list-style-type: none;
    padding-left: 2rem;

    &:before {
      display: inline-block;
      content: "-";
      text-indent: -5px;
    }

    .note {
      display: inline-table;
      margin-left: 1rem;
      text-indent: -0.8rem;

      a {
        color:white;
        text-decoration: underline;
      }
    }
  }
}

.hierarchy-description {
  .content {
    line-height: 1.4;
    margin-bottom: 3rem;
  }
  .content a {
    color:white;
    text-decoration: underline;
  }
}

.level-2 h2 {
 font-size: 2rem;
}
.level-3 h2 {
 font-size: 1.8rem;
}
.level-4 h2 {
 font-size: 1.6rem;
}
.level-5 h2 {
 font-size: 1.4rem;
}

.title-note {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
}

.hierarchy-spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}
