.search-field--container {
  margin-bottom: 3rem;
  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2.1rem;
    font-family: 'Open Sans', sans-serif;
  }

  .search-field--title {
    font-family: 'Open Sans', sans-serif;
  }

  .search-field {
    height: 40px;
    background-color: transparent;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    border-bottom: 3px solid $text-color;
    display: inline-block;
    width: 550px;

    &:focus {
      outline: none;
      border-bottom-color: $blue;
    }

    @include small-phone {
      width: 78%;
    }

    @include phone {
      width: 67%;
    }

    @include tablet {
      width: 410px;
    }
  }

  .search-field--spinner {
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
  }

  .search-field--button {
    padding-top: 5px;
    background-color: $blue;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;

    @include small-phone {
      width: 20%;
      padding-top: 12px;
      margin-left: 5px;
    }

    @include phone {
      width: 30%;
    }

    @include desktop {
      width: 165px;
    }

    .search-field--button--image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;

      img {
        height: 30px;

        @include small-phone {
          display: none;
        }
      }
    }

    .search-field--button--text {
      vertical-align: middle;
      display: inline-block;
      font-size: 1.8rem;
    }
  }
}

